<div class="container-fluid">
    <div class="row">
      <div class="col">
        <% flash.each do |key, value| %>
        <div class="alert alert-<%= 'notice' == key ? 'info' : key %>">
            <%= value %>
        </div>
        <% end %>
      </div>
    </div>
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <div class="row">
        <%= yield :content_header %>
      </div>
    </div>
    <div class="row">
        <%= yield %>
    </div>
</div>
