<div class="content-wrapper">
    <div class="container">
        <section class="content-header">
            <h1><%= t("#{controller.controller_name}.#{controller.action_name}.title") %></h1>
        </section>

        <section class="content container-fluid">
            <%= yield %>
        </section>
    </div>
</div>
