<footer class="main-footer">
    <div class="container">
        <div class="pull-right hidden-xs">
            <%= t('shared.footer.theme_credit_html', href: link_to('Almsaeed Studio', 'https://adminlte.io')) %>
        </div>
        <%= t('shared.footer.app_credit_html', href: link_to('Bob Nadler, Jr.', 'http://bobnadler.com')) %>
    </div>
</footer>
