<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>
                <%= t('shared.footer.app_credit_html', href: link_to('Bob Nadler, Jr.', 'http://bobnadler.com')) %>
            </span>
        </div>
    </div>
</footer>
