%p Enter you email address below and instructions on how to reset your password will be sent to you.
- semantic_form_for(:user_session, :url => password_resets_path) do |f|
  = f.input :email
  = f.commit_button 'Reset My Password'
