<div class="row">
  <div class="col-lg-6 d-none d-lg-block bg-password-image"></div>
  <div class="col-lg-6">
    <div class="p-5">
      <div class="text-center">
        <h1 class="h4 text-gray-900 mb-2"><%= t('passwords.create.title') %></h1>
        <p class="mb-4"><%= t('passwords.create.description') %></p>
      </div>
    </div>
  </div>
</div>
