en:
  shared:
    layouts:
      application:
        member_since: Member since %{date}
        menu:
          dashboard: Dashboard
        profile: Profile
        sign_out: Logout
    footer:
      app_credit_html: Web application by %{href}
