Flipper.configure do |config|
  config.default do
    adapter = Rails.env.test? ? Flipper::Adapters::Memory.new : Flipper::Adapters::ActiveRecord.new
    Flipper.new(adapter)
  end
end

Flipper::UI.configure do |config|
  config.fun = false
end
