Flipper.configure do |config|
  config.default do
    adapter = 'test' == Rails.env ? Flipper::Adapters::Memory.new : Flipper::Adapters::ActiveRecord.new
    Flipper.new(adapter)
  end
end

Flipper::UI.configure do |config|
  config.fun = false
end
